name: Play Grond
on:
  push:
  workflow_dispatch:

jobs:
  publish:
    name: Look around
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Clone
        run: |
          cd ..
          git clone "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}.git"

      - name: Print environment
        run: |
          uname -m
          linux32 uname -m
          printenv | LC_ALL=C sort
          pwd -P
          echo "NEW=var" >> "${GITHUB_ENV}"

      - name: Repo status
        run: |
          pwd -P
          ls -a -l
          git status
          echo "$NEW"

      - name: Download
        run: |
          sudo resolvectl --no-pager status
          mkdir -p tmp
          cd tmp
          wget https://dl-cdn.alpinelinux.org/alpine/v3.23/releases/aarch64/alpine-minirootfs-3.23.2-aarch64.tar.gz

      - name: Save cache
        uses: actions/cache/save@v5
        with:
          path: tmp
          key: first

  deploy:
    name: Summarize
    runs-on: ubuntu-latest

    steps:
      - name: Print environment
        run: |
          uname -m
          linux32 uname -m
          printenv | LC_ALL=C sort
          pwd -P
          mkdir -p tmp
          cd tmp
          curl -L -O https://dl-cdn.alpinelinux.org/alpine/v3.22/releases/x86_64/alpine-minirootfs-3.22.2-x86_64.tar.gz

      - name: Save cache
        uses: actions/cache/save@v5
        with:
          path: tmp
          key: second

  ending:
    name: The End
    needs: [publish, deploy]
    runs-on: ubuntu-latest

    steps:
      - name: Prepare tree
        run: |
          mkdir -p tmp

      - name: Restore 1st cache
        uses: actions/cache/restore@v5
        with:
          path: tmp
          key: first

      - name: Restore 2nd cache
        uses: actions/cache/restore@v5
        with:
          path: tmp
          key: second

      - name: Check restored cache
        run: |
          ls -l
          ls -l tmp

