name: Play Ground
on:
  push:
    tags: 'v0.0.*'
  workflow_dispatch:

jobs:
  publish:
    name: Look around
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Clone
        run: |
          cd ..
          git clone "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}.git"

      - name: Print environment
        run: |
          uname -m
          linux32 uname -m
          printenv | LC_ALL=C sort
          pwd -P
          echo "NEW=var" >> "${GITHUB_ENV}"

      - name: Repo status
        run: |
          pwd -P
          ls -a -l
          git status
          echo "$NEW"

      - name: ARM 64 bit test
        run: |
          mkdir alarm
          sudo resolvectl --no-pager status
          sudo cat /run/systemd/resolve/stub-resolv.conf || true
          sudo apt-get update
          sudo apt-get -y install libarchive-tools zstd
          wget http://os.archlinuxarm.org/os/ArchLinuxARM-aarch64-latest.tar.gz
          sudo bsdtar -x -f ArchLinuxARM-aarch64-latest.tar.gz -C alarm
          ls -l alarm
          ls -l alarm/etc/locale.gen
          sudo "en_US.UTF-8 UTF-8\n" >> alarm/etc/locale.gen
          sudo mount -t proc /proc alarm/proc/
          sudo mount -t sysfs /sys alarm/sys/
          sudo mount -o bind /dev alarm/dev/
          sudo mount -o bind /run alarm/run/
          sudo chroot alarm /bin/bash -c "source /etc/profile; ping -c 4 8.8.8.8; ping -c 4 mirror.archlinuxarm.org"
          sudo chroot alarm /bin/bash -c "source /etc/profile; pacman-key --init; pacman-key --populate archlinuxarm; pacman -S -y -u --noconfirm base-devel; locale-gen; uname -a"
