name: Play Ground
on:
  push:
    tags: 'v0.0.*'
  workflow_dispatch:

jobs:
  publish:
    name: Look around
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Clone
        run: |
          cd ..
          git clone "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}.git"

      - name: Print environment
        run: |
          uname -m
          linux32 uname -m
          printenv | LC_ALL=C sort
          pwd -P
          echo "NEW=var" >> "${GITHUB_ENV}"

      - name: Repo status
        run: |
          pwd -P
          ls -a -l
          git status
          echo "$NEW"

      - name: ARM 32 bit test
        run: |
          mkdir alarm
          sudo systemctl --no-pager status
          ip a
          sudo ls -l /etc/resolv.conf
          sudo resolvectl --no-pager status
          sudo resolvectl --no-pager show-cache
          sudo resolvectl --no-pager show-server-state
          sudo cat /run/systemd/resolve/stub-resolv.conf || true
          sudo apt-get update
          sudo apt-get -y install libarchive-tools zstd
          wget http://os.archlinuxarm.org/os/ArchLinuxARM-armv7-latest.tar.gz
          bsdtar -x -f ArchLinuxARM-armv7-latest.tar.gz -C alarm
          sudo rm -f alarm/etc/resolv.conf
          sudo mount --bind alarm alarm
          sudo mount --make-rslave alarm
          sudo mount -t proc /proc alarm/proc/
          sudo mount --rbind /sys alarm/sys/
          sudo mount --make-rslave alarm/sys/
          sudo mount --rbind /dev alarm/dev/
          sudo mount --make-rslave alarm/dev/
          sudo cat /etc/resolv.conf > alarm/etc/resolv.conf
          sudo cat /run/systemd/resolve/stub-resolv.conf > alarm/etc/resolv.conf
          sudo printf "en_US.UTF-8 UTF-8\n" > alarm/etc/locale.gen
          sudo linux32 chroot alarm /bin/bash -c "source /etc/profile; ip a; cat /etc/resolv.conf; ping -c 4 mirror.archlinuxarm.org"
          sudo linux32 chroot alarm /bin/bash -c "source /etc/profile; pacman-key --init; pacman-key --populate archlinuxarm; pacman -S -y -u --noconfirm base-devel; locale-gen; uname -a"
