name: Play Ground
on:
  push:
  workflow_dispatch:

jobs:
  aarch64:
    name: Build aarch64
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Clone
        run: |
          cd ..
          git clone "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}.git"

      - name: Print environment
        run: |
          mkdir -p tmp/${{ github.job }}
          uname -m
          linux32 uname -m
          printenv | LC_ALL=C sort
          pwd -P
          echo "NEW=var" >> "${GITHUB_ENV}"

      - name: Restore 1st cache
        uses: actions/cache/restore@v5
        with:
          path: tmp/${{ github.job }}
          key: ${{ github.job }}

      - name: Repo status
        run: |
          pwd -P
          ls -a -l -R
          git status
          echo "$NEW"

      - name: Download
        run: |
          sudo resolvectl --no-pager status
          cd tmp/${{ github.job }}
          curl -L -O https://dl-cdn.alpinelinux.org/alpine/v3.23/releases/aarch64/alpine-minirootfs-3.23.2-aarch64.tar.gz

      - name: Save cache
        uses: actions/cache/save@v5
        with:
          path: tmp/${{ github.job }}
          key: ${{ github.job }}-${{ github.run_id }}

  x86_64:
    name: Build x86_64
    runs-on: ubuntu-latest

    steps:
      - name: Print environment
        run: |
          uname -m
          linux32 uname -m
          printenv | LC_ALL=C sort
          pwd -P
          echo "New variable: $NEW"
          mkdir -p tmp/${{ github.job }}
          cd tmp/${{ github.job }}
          curl -L -O https://dl-cdn.alpinelinux.org/alpine/v3.22/releases/x86_64/alpine-minirootfs-3.22.2-x86_64.tar.gz

      - name: Save cache
        uses: actions/cache/save@v5
        with:
          path: tmp/${{ github.job }}
          key: ${{ github.job }}-${{ github.run_id }}

  ending:
    name: The End
    needs: [aarch64, x86_64]
    runs-on: ubuntu-latest
    permissions:
      actions: write

    steps:
      - name: Prepare tree
        run: |
          mkdir -p tmp/aarch64 tmp/x86_64

      - name: Restore 1st cache
        uses: actions/cache/restore@v5
        with:
          path: tmp/aarch64
          key: aarch64

      - name: Restore 2nd cache
        uses: actions/cache/restore@v5
        with:
          path: tmp/x86_64
          key: x86_64

      - name: Check restored cache
        run: |
          pwd
          ls -l -R

      - name: Delete current cache
        run: |
          gh cache list --json key
          curl -L \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "https://api.github.com/repos/${{ github.repository }}/actions/caches"
          curl -L \
            -X DELETE \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "https://api.github.com/repos/${{ github.repository }}/actions/caches?key=x86_64-${{ github.run_id }}"

