name: Play Ground
on:
  push:
    tags: 'v0.0.*'
  workflow_dispatch:

jobs:
  publish:
    name: Look around
    runs-on: ubuntu-latest

    steps:
      - name: Clone
        run: |
          git clone "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}.git"

      - name: Print environment
        run: |
          printenv | LC_ALL=C sort
          pwd -P
          echo "NEW=var" >> "${GITHUB_ENV}"

      - name: Repo status
        run: |
          pwd -P
          ls -a -l
          git status
          echo "$NEW"
